* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #223e9b;
    /* animation: animateBg 0ms linear infinite; */
    animation: animateBg 0s linear infinite;
}

@keyframes animateBg {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }

    /*    
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    } */
}

section .loader {
    position: relative;
    width: 130px;
    height: 10px;

}

section .loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    /* transform: rotate(calc(18deg * var(--i))); */
    transform: rotate(calc(18deg * var(--i)));

}

section .loader span::before {
    content: '';
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    /* height: 15px;
    width: 15px; */
    height: 80px;
    width: 25px;
    border-radius: 50%;
    background: #00ff0a;
    box-shadow: 0 0 10px #00ff0a,
        0 0 20px #00ff0a,
        0 0 40px #00ff0a,
        0 0 60px #00ff0a,
        0 0 80px #00ff0a,
        0 0 100px#00ff0a;
    animation: animate .5s linear infinite;
    animation-delay: calc(o.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: rotateX(90deg);
    }

    80%,
    100% {
        transform: rotateY(100deg);

    }

    /*     
        0% {
            transform: scale(0);
        }
    
        80%,
        100% {
            transform: scale(1);
    
        }
     */

    /* 0% {
        transform: rotateY(90deg);
    }

    80%,
    100% {
        transform: rotateX(100deg);

    } */
}